[Unit]
StartLimitIntervalSec=600
StartLimitBurst=10

[Service]
Type=forking
User=pi
WorkingDirectory={{ item.item | dirname }}
ExecStart={{ item.item }}
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
