bootstrap.servers=192.168.1.172:9092
producer.type=sync
request.required.acks=1
#compression.codec=0
#serializer.class=org.apache.kafka.common.serialization.ByteArraySerializer
#kafka.serializer.DefaultEncoder
value.serializer=org.apache.kafka.common.serialization.ByteArraySerializer
key.serializer=org.apache.kafka.common.serialization.ByteArraySerializer
#kafka.serializer.StringEncoder
max.message.size=10000000
#request.timeout.ms=180000
request.timeout.ms=300000
